@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    /* Minhas extensões WHITE */
    --background: 24 6% 83%;
    --background-low-foreground: 60 5% 96%;
    --background-medium-foreground: 20 6% 90%;
    --background-foreground: 0 0% 83%;
    --background-button: 0 0% 100%;
    --background-button-pagination: 0 0% 83%;
    --background-sidebar: 60 5% 96%;
    --background-input: 0 0% 100%;

    --text: 12 6% 15%;
    --text-input: 26 83% 14%;
    --text-button: 32 81% 29%;

    --sidebar-button: 24 6% 83%;
    --sidebar-button-active: 35 92% 33%;
    --sidebar-icon-text: 30 6% 25%;

    --border: 0 0% 90%;
  }

  .dark {
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 30 6% 25%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    /* Minhas extensões - BLACK */
    --background: 30 6% 25%;
    --background-low-foreground: 30 6% 25%;
    --background-medium-foreground: 12 6% 15%;
    --background-foreground: 0 0% 83%;
    --background-button: 30 6% 25%;
    --background-button-pagination: 26 83% 14%;
    --background-sidebar: 24 10% 10%;
    --background-input: 30 6% 25%;


    --text: 60 5% 96%;
    --text-input: 55 92% 95%;
    --text-button: 41 96% 40%;


    --sidebar-button: 30 6% 25%;
    --sidebar-button-active: 35 92% 33%;
    --sidebar-icon-text: 24 6% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
